/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.grid {
	padding: 10px 10px 100px 10px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow:hidden;
}

.grid li {
	/* display: inline-block; */
	display: block;
	width: 380px;
	/* margin: 10px; */
	margin:5px 5px 25px 5px;
	text-align: left;
	/* position: relative; */
	float: left;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	/* top: 0; */
	/* left: 0; */
	padding: 20px;
	/* background:rgba(0,0,0,0.7); */
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #000;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	/* text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff; */
}

/* Individual Caption Styles */

/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	/* -webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%); */
}

.cs-style-4 figcaption {
	/* height: 100%; */
	/* height: 21px; */
	/* width: 100px; */
	opacity: 0;
	/* transition: opacity.4s; */
	position: absolute;
	bottom:0px;
	left:-30px;
	/* -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s; */
}

/* .no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
} */

figure:hover figcaption{
	opacity:1;
}

.cs-style-4 figcaption a {
	/* position: absolute; */
	/* bottom: 4px;
	left: 4px; */
	bottom: 20px;
	left: 20px;
}

.icon_wrap{
	position:absolute;
	bottom:20px;
	width:400px;
	margin:0 auto;
	left:0px;
	transition: top.4s;
}
.icon_wrap > div{
	position:absolute;
	overflow: hidden;
}
/* .icon_wrap > div:hover{opacity:0.7;} */
figcaption:hover > .icon_wrap{top:20px;}
/* figcaption:hover  .more_btn{left:20px;} */
figcaption:hover  .blank_btn{left:80px;}
figure:hover  .ge_suj{left:-10px;}

.more_btn{
	text-align:center;
	padding:20px 10px;
	width:100px;
	background:#fff;
	bottom:0px;
	right:40px;
	transition: left.4s;
	font-size:16px;
}

.blank_btn{
	top:0px;
	left:100px;
	transition: left.4s;
}

.more_btn > a{

	left:20px;
	/* width:34px; */
	/* height:34px; */
	/* background:url('/image/icon-por-01-1.png') no-repeat; */
	border-radius: 20px;
	display: block;
}
.blank_btn > a{

	width:34px;
	height:34px;
	background:url('/image/icon-por-02-1.png') no-repeat;
	border-radius: 20px;
	display: block;
}
.ge_suj{
	/* width:120px; */
	max-width:300px;
	padding:20px 30px;
	letter-spacing:-1px;
	color:#000;
	background:#fff;
	position:relative;
	bottom:0px;
	left:-15px;
	font-size:16px;
	text-align:center;
	transition: left .4s;
	box-shadow:6px 6px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:6px 6px 3px rgba(0,0,0,0.3);
	/* margin-top:30px !important; */
}
.ge_suj p {
	font-size:10px;
}
/* .ge_suj::after{
	display:block;
	content:"";
	width:30px;
	height:1px;
	background:#fff;
	margin:20px auto;
} */

figure{
		box-shadow:0 5px 15px rgba(153,153,153,0.1);
		-webkit-box-shadow:0 5px 15px rgba(153,153,153,0.1);
}


@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
